@use '@/styles/variables/include-media' as *;

.lang {
  --pd-x: 9px;
  --color: var(--neutral-secondary);

  margin-right: 8px;
  color: var(--color);
  transition: color .2s ease-in-out;
  font-family: var(--font-accent);
  font-weight: 400;

  &:hover {
    --color: var(--icon-btn-hover);
  }
}

.langPanel {
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1px solid var(--icon-btn-active-stroke);
  background-color: var(--icon-btn-active-bg);
  border-radius: 12px;
}

.btn {
  --pd-x: 23px;
  --border-radius: 0;

  width: 70px;

  &:not(.active):hover {
    --bg-color: var(--bg-card-stroke);
  }
}

.active {
  --bg-color: var(--icon-btn-active-bg);
  cursor: default;
  pointer-events: none;
}
