@use '@/styles/variables/include-media' as *;

.footer {
  color: var(--text-info);

  @include media('<=1199px') {
    padding-top: 32px;
    flex-wrap: wrap;
  }
}

.footerCopy {
  margin-right: auto;

  @include media('<=1199px') {
    margin-bottom: 16px;
  }
}
