@use '@/styles/variables/include-media' as *;

.footer {
  color: var(--text-info);

  @include media('>=1200px') {
    display: flex;
  }

  @include media('<=1199px') {
    padding-top: 32px;
    text-align: center;
  }
}

.footerCopy {
  @include media('>=1200px') {
    margin-right: auto;
  }

  @include media('<=1199px') {
    margin-bottom: 16px;
    white-space: pre-line;
  }
}
