@use '@/styles/variables/include-media' as *;

.modeDecor {
  @include media('>=1200px') {
    height: 400px;
  }

  @include media('<=1199px') {
    display: none;
  }
}

.modeList {
  margin-bottom: 32px;
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.modeItem {
  --fill: gray;
  --color: gray;
  font-size: 14px;
  color: var(--color);
  flex-direction: column;

  @include media('<=767px') {
    width: 48px;
  }
}

.modeActive {
  --fill: #fff;
  --color: #fff;
}

.modeIcon {
  fill: var(--fill);
  flex-shrink: 0;

  @include media('>=768px') {
    width: 48px;
    height: 48px;
  }

  @include media('<=767px') {
    width: 32px;
    height: 32px;
  }
}

.control {
  @include media('>=1200px') {
    &::before {
      width: 192px;
      display: block;
      content: '';
    }
  }

  @include media('>=1440px') {
    width: 80%;
    margin: 0 auto;
  }
}

.controlBox {
  margin-left: auto;
  margin-right: auto;

  @include media('<=1199px') {
    margin-bottom: 32px;
  }
}

.controlIcon {
  width: 24px;
  height: 24px;
}
