@use '@/styles/variables/include-media' as *;

.panel {
  padding: 24px;
  border-radius: 8px;
  background: var(--bg-card);
}

.modeDecor {
  @include media('>=1200px') {
    height: 400px;
  }

  @include media('<=1199px') {
    display: none;
  }
}

.modeList {
  margin-bottom: 32px;
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.modeItem {
  --icon-color: gray;
  --icon-size: 32px;
  --color: gray;
  font-size: 14px;
  color: var(--color);
  flex-direction: column;

  @include media('<=767px') {
    width: 48px;
  }

  @include media('>=768px') {
    --icon-size: 48px;
  }
}

.modeActive {
  --icon-color: #fff;
  --color: #fff;
}

.control {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--bg-card-stroke);
}

.controlVolume {
  width: 224px;
}

.controlVolumeBtn {
  --icon-size: 16px;
  --icon-color: var(--icon-btn-default);

  margin-right: 4px;
}

.controlVolumeBtnMuted {
  position: relative;

  &::before {
    content: '';
    width: 24px;
    height: 0;
    border-bottom: 1px solid var(--icon-btn-default);
    position: absolute;
    top: 49%;
    left: 33%;
    transform: rotate(45deg);
  }
}

.controlBtn {
  --icon-size: 40px;
  --icon-color: var(--neutral-secondary);
}

.controlBtnUpdate {
  --icon-size: 20px;
}
