@use '@/styles/variables/include-media' as *;

.panel {
  margin-top: -24px;
  padding: 24px;
  border-radius: 8px;
  background: var(--bg-card);
  position: relative;
  z-index: 1;
}

.modeDecor {
  width: 100%;

  @include media('>=1200px') {
    height: 400px;
  }

  @include media('<=1199px') {
    display: none;
  }
}

.modeList {
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.modeItem {
  --icon-color: var(--icon-btn-default);
  --icon-size: 24px;
  width: var(--height);
  font-size: 14px;
  flex-direction: column;

  &:hover {
    --bg-color: var(--bg-card-stroke);
  }
}

.modeActive {
  --icon-color: var(--icon-btn-active);
  --border-radius: 12px;
  --bg-color: var(--icon-btn-active-bg);
  --border-color: var(--icon-btn-active-stroke);
}

.control {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--bg-card-stroke);
}

.controlVolume {
  width: 224px;
}

.controlVolumeBtn {
  --icon-size: 16px;
  --icon-color: var(--icon-btn-default);
  opacity: 0.5;

  margin-right: 4px;
}

.controlVolumeBtnMuted {
  position: relative;

  &::before {
    content: '';
    width: 24px;
    height: 0;
    border-bottom: 1px solid var(--icon-btn-default);
    position: absolute;
    top: 49%;
    left: 33%;
    transform: rotate(45deg);
  }
}

.controlBtn {
  --icon-size: 40px;
  --icon-color: var(--neutral-secondary);
}

.controlBtnUpdate {
  --icon-size: 20px;
}
