@use '@/styles/variables/include-media' as *;

.modeDecor {
  height: 400px;
}

.modeList {
  margin-bottom: 32px;
  width: 100%;
  justify-content: center;
  gap: 8px;
}

.modeItem {
  --fill: gray;
  --color: gray;
  font-size: 14px;
  color: var(--color);
  flex-direction: column;
}

.modeActive {
  --fill: #fff;
  --color: #fff;
}

.modeIcon {
  width: 48px;
  height: 48px;
  fill: var(--fill);
  flex-shrink: 0;
}

.control {
  &::before {
    width: 192px;
    display: block;
    content: '';
  }

  @include media('>=1440px') {
    width: 80%;
    margin: 0 auto;
  }
}

.controlBox {
  margin-left: auto;
  margin-right: auto;
  @include media('>=1200px') {
  }
}

.controlIcon {
  width: 24px;
  height: 24px;
}
