@use '@/styles/variables/include-media' as *;

.panel {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: var(--bg-card);
  z-index: 1;

  @include media('>=1200px') {
    margin-top: -24px;
    position: relative;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @include media('<=1199px') {
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.modeDecor {
  width: 100%;

  @include media('>=1200px') {
    height: 400px;
  }

  @include media('<=1199px') {
    height: 300px;
  }
}

.modeList {
  width: 100%;
  gap: 8px;
  display: flex;

  @include media('>=1200px') {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media('<=1199px') {
    overflow-x: auto;
  }
}

.modeItem {
  --icon-color: var(--icon-btn-default);
  --icon-size: 24px;
  width: var(--height);
  font-size: 14px;
  flex-direction: column;

  &:hover {
    --bg-color: var(--bg-card-stroke);
  }
}

.modeActive {
  --icon-color: var(--icon-btn-active);
  --border-radius: 12px;
  --bg-color: var(--icon-btn-active-bg);
  --border-color: var(--icon-btn-active-stroke);
}
