@use '@/styles/variables/include-media' as *;

.logo {
  display: flex;
  align-items: center;
  line-height: 1;

  @include media('>=768px') {
    min-width: 60px;
    height: 50px;
  }

  @include media('<=767px') {
    min-width: 60px;
    height: 32px;
  }
}

.logoImg {
  max-height: 100%;
}

.logoName {
  @include media('>=768px') {
    font-size: 30px;
    margin-left: 16px;
  }

  @include media('<=767px') {
    font-size: 20px;
    margin-left: 10px;
  }
}
