@use '@/styles/variables/include-media' as *;

.logo {
  min-width: 60px;
  height: 50px;
  display: flex;
  align-items: flex-end;
  line-height: 1;
}

.logoImg {
  max-height: 100%;
}

.logoName {
  margin-left: 16px;
  font-size: 30px;
}
