@use '@/styles/variables/include-media' as *;

.header {
  padding-top: 16px;

  @include media('>=768px') {
    padding-top: 40px;
  }
}

.logo {
  @include media('>=768px') {
    min-width: 60px;
  }

  @include media('<=767px') {
    min-width: 60px;
    height: 32px;
  }
}
