html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--body-color);
  background: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color);
  }
}

.font-accent {
  font-family: var(--font-accent);
}

.text-secondary {
  color: var(--neutral-secondary);
}
